<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Curso de Programación{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JYFB0WVL0W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JYFB0WVL0W');
</script>

</head>
<body>

<header>
    <h1>Curso de Programación en Vivo</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/curso">Curso</a> |
        <a href="/contacto">Contacto</a>
    </nav>
    <hr>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<hr>

<footer>
    <a href="/terminos">Términos</a> |
    <a href="/privacidad">Privacidad</a> |
    <a href="/reembolsos">Reembolsos</a>
</footer>

</body>
</html>
